[submodule "sd-core"]
	path = sd-core
	url = https://github.com/Ralvie-AI/aw-core.git
[submodule "sd-client"]
	path = sd-client
	url = https://github.com/Ralvie-AI/aw-client.git
[submodule "sd-server"]
	path = sd-server
	url = https://github.com/Ralvie-AI/aw-server.git
[submodule "sd-watcher-afk"]
	path = sd-watcher-afk
	url = https://github.com/Ralvie-AI/aw-watcher-afk.git
[submodule "sd-qt"]
	path = sd-qt
	url = https://github.com/Ralvie-AI/aw-qt.git
[submodule "sd-watcher-window"]
	path = sd-watcher-window
	url = https://github.com/Ralvie-AI/aw-watcher-window.git
[submodule "sd-notify"]
	path = sd-notify
	url = https://github.com/Ralvie-AI/aw-notify.git
[submodule "sd-watcher-input"]
	path = sd-watcher-input
	url = https://github.com/Ralvie-AI/aw-watcher-input.git
[submodule "sd-pixel-engine"]
	path = sd-pixel-engine
	url = https://github.com/Ralvie-AI/sd-pixel-engine.git
